@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    background: #ebeaea;
    position: relative;
    display: flex;
}

#menu {
    background: #6a0602;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#menu .logo {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 30px 0 0 30px;
}

#menu .logo img{
    width: 220px;
    margin-right: 40px;
    margin-left: 10px;
}

#menu .logo h2{
    font-family: 'Times New Roman';
    font-weight: 600;
    font-size: 25px;
}

#menu .items {
    margin-top: 40px;
}

#menu .items li{
    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;
}

#menu .items li:hover{
    background: #4d0f0f;
    cursor: pointer;
}

#menu .items li:nth-child(7){
    border-left: 4px solid #fff;
}

#menu .items li i{
    color: rgb(134, 141, 151);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
}

#menu .items li:hover i, 
#menu .items li:hover a
{
    color: #F3F4F6;
    cursor: pointer;
}

#menu .items li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 300px;
    transition: 0.3s ease;
}

#interface {
    width: calc(100% - 300px);
    margin-left: 300px;
    position: relative;
}

#interface .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 30px;
    border-bottom: 3px solid #910702;
    position: fixed;
    width: calc(100% - 300px);
}

#interface .navigation .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid #d7dbe6;
    border-radius: 4px;
}

#interface .navigation .search i {
    margin-right: 14px;
}

#interface .navigation .search input {
    border: none;
    outline: none;
    font-size: 14px;
}

#interface .navigation .profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#interface .navigation .profile i {
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
}

#interface .navigation .profile img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.user-profile {
    margin-top: 76px;
    padding: 40px 50px;
}

.page-header {
    background-color: #decdcd;
    padding: 20px 0;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}

.header-data {
    padding: 0 100px;
}

.name {
    font-size: 2.5em;
}

.image-name {
    display: flex;
    overflow: hidden;
    align-items: center;
    padding-left: 30px;
}

.image-name img {
    border-radius: 50%;
    width: 170px;
    height: 170px;
    object-fit: cover;
}

.edit-button {
    width: 100px;
    height: 40px;
    background-color: #7d0501;
    color: #E5E7EB;
    border-radius: 10px;
    margin: 5px;
    border: none;
}

.feedback {
    width: 100px;
    height: 40px;
    background-color: #7d0501;
    color: #E5E7EB;
    border-radius: 10px;
    margin: 5px;
    border: none;
}

.page-data {
    margin: 20px 0;
    background-color: #decdcd;
    padding: 20px 40px;
    border-radius: 20px;
}